/* Styling */
:root {
  --primary: #2e8b57;
  --primary-light: #eef7f2;
  --text-dark: #333;
}

.hero-intro {
  background-color: var(--primary-light);
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
}

.hero-subtitle {
  color: var(--primary);
  font-weight: 600;
  line-height: 1.3;
}

.hero-text {
  max-width: 600px;
  line-height: 1.7;
  font-size: 1.05rem;
}

.hero-image {
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h1 {
  font-weight: 600;
  color: #1f5e3c;
  font-size: 2.4rem;
  letter-spacing: 0.4px;
  margin-bottom: auto;
  padding: 30px 0;
}

h2 {
  font-weight: 600;
  color: var(--primary);
  line-height: 1.3;
}

#start img {
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

body {
  padding-top: 80px;
  line-height: 1.6;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
}

html, body {
height: 100%;
}

main {
  flex: 1;
}

section {
  scroll-margin-top: 90px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.logo{
  height: 4rem;
}

.nav-item {
  color: var(--text-dark);
   font-size: 1.05rem;
   font-weight: 500;
}

.nav-item :hover {
  color:#2e8b57;
}

/* Formular */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.form-control:focus,
.form-select:focus {
  border-color: #2e8b57;
  box-shadow: 0 0 0 0.15rem rgba(46,139,87,0.25);
}

.form-check-input:checked {
  background-color: #2e8b57;
  border-color: #2e8b57;
}

/* Buttons */
.btn {
  font-weight: 600;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  border-color: #2e8b57;
  color: #2e8b57;
}

.btn:hover {
  background-color: #2e8b57;
  border-color: #2e8b57;
  color:#e5e5e5
}

/* Footer */
footer {
  text-align: center;
  background-color: #f8faf9;
  padding: 20px 0;
}